.Wrapper {
    margin-top: 2vw;
    position: relative;
    width: 90%;
}

.Photo {
    height: 50vh;
    width: 100%;
    position: relative;
}

.mini {
    margin-top: 1vh;
}

.mini img {
    max-width: 50px;
    max-height: 33px;
    margin: 2px 5px;
}

.diactivated {
    opacity: 25%;
}

.Navi {
    height: 50vh;
    background-color: black;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.Navi:hover {
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: both;
}

.Last {
    left: 0;
}

.Next {
    right: 0;
}

@keyframes slidein {
    0% {
        opacity: 10%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 80%;
    }
}