.Wrapper {
    background-color: #122538;
    color: white
}

.forFilter {
    text-align: center;
    animation-duration: 2s;
}

hr {
    margin: 0;
    background-color: white
}

.Clear {
    margin: 0 auto 1.5vh auto;
    padding: 0.5vh
}